/* General App Styles */
.App {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: white;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  height: 100%;
  background-color: #1c1c1c;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar h2,
.sidebar p {
  margin: 0;
  padding: 10px;
  color: white;
}

.sidebar a {
  padding: 15px 8px;
  text-decoration: none;
  color: white;
  text-align: left;
  width: 230px;
  display: flex;
  align-items: center;
}

.sidebar a:hover {
  background-color: #575757;
}

.sidebar a.active {
  background-color: #575757;
}

.sidebar .counter {
  background-color: #0078D7;
  border-radius: 12px;
  padding: 2px 6px;
  margin-left: auto;
}

.sidebar .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  background: url("wtqqnkYDYi2ifsWZVW2MT4-1200-80.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Main Content Styles */
form {
  margin-bottom: 20px;
  display: flex;
}

input {
  padding: 10px;
  width: 60%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  background-color: #0078D7;
  color: white;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  border-radius: 4px;
}

li span {
  cursor: pointer;
}

li button {
  background: #0078D7;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

li input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 20px);
}

li .todo-buttons {
  display: flex;
  gap: 10px; 
}

li div {
  display: flex;
  align-items: center;
}
